<body>
  <div class="container">
    <h1>
      <span>Hi,&nbsp;</span>
      <span>This&nbsp;</span>
      <span>is&nbsp;</span>
      <span>Jayakrishna.&nbsp;</span>
      <span>Welcome&nbsp;</span>
      <span>to&nbsp;</span>
      <span>my&nbsp;</span>
      <span>website.&nbsp;</span>
      <span>Choose&nbsp;</span>
      <span>one&nbsp;</span>
      <span>of&nbsp;</span>
      <span>these&nbsp;</span>
      <span>options&nbsp;</span>
      <span>to&nbsp;</span>
      <span>know&nbsp;</span>
      <span>more&nbsp;</span>
      <span>about&nbsp;</span>
      <span>ME.</span>
      <span>
        <div id="buttons">
          <button id="button-1" class="noselect" routerLink="/gallery">Gallery</button>
          <button id="button-2" class="noselect" routerLink="/resume">Resume</button>
          <button id="button-2" class="noselect" routerLink="/about">About me</button>
          <button id="button-2" class="noselect">Experiments</button>
        </div>
      </span>
    </h1>
  </div>
</body>